#result{
 display: flex;
 justify-content: space-around;
}
body{
 margin: auto;
 text-align: center;
}

li{
 display: flex;
 justify-content: space-between;
 margin-top: 7px;
}

li img{
 border-radius: 50%;
}
